@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;

}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 39px;
}

p {
  font-family: 'Roboto', sans-serif;
}

.subtittle-title {
  color:#19ab19;
}

.btn {
  border: none;
  border-radius: 25px;
  color:white;
  background-color: rgb(255, 255, rgb(69, 201, 52));
  width: 50%;
  transition: 1s;
}
.btn:hover {
  border: 1px solid #073938;
  background-color: #0e6b6a;
}