.background-accordion-section {
    background-image: url('../../assets/270108148_615522009731972_2618354039966557851_n.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}


.custom-accordion {
    width: 500px;
    position: absolute;
}